In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import talib

In [45]:
df=pd.read_csv("Eaton Stock Price History1.csv")

In [46]:
df

           Date    Open   Close    High     Low   Vol. Change %    Returns
0    10/31/2025  386.02  381.56  393.59  379.22  2.41M   -0.40%        NaN
1    10/30/2025  384.49  383.09  390.11  379.26  3.11M   -1.20%   1.389695
2    10/29/2025  376.88  387.75  390.00  376.28  2.25M    3.12%  -0.627538
3    10/28/2025  379.86  376.01  381.06  373.43  1.55M   -0.98%   0.951419
4    10/27/2025  381.00  379.74  381.00  376.53  1.77M    0.92%   2.027154
..          ...     ...     ...     ...     ...    ...      ...        ...
165  03/07/2025  275.55  284.98  286.15  273.71  4.53M    2.68%   1.056222
166  03/06/2025  277.22  277.55  280.67  272.28  3.29M   -3.54%   1.282379
167  03/05/2025  283.45  287.73  288.76  278.46  3.75M    3.05%   4.102395
168  03/04/2025  273.12  279.22  285.56  267.63  6.81M    0.27%  -1.917690
169  03/03/2025  294.98  278.46  296.72  276.20  4.89M   -5.07%  10.219333

[170 rows x 8 columns]

In [48]:
df['SMA_8'] = talib.SMA(df['Close'], timeperiod = 8)
df['SMA_20'] = talib.SMA(df['Close'], timeperiod = 20)

In [49]:
df

,Date,Open,Close,High,Low,Vol.,Change %,Returns,SMA_8,SMA_20
0,10/31/2025,386.02,381.56,393.59,379.22,2.41M,-0.40%,NaN,NaN,NaN
1,10/30/2025,384.49,383.09,390.11,379.26,3.11M,-1.20%,1.389695,NaN,NaN
2,10/29/2025,376.88,387.75,390.00,376.28,2.25M,3.12%,-0.627538,NaN,NaN
3,10/28/2025,379.86,376.01,381.06,373.43,1.55M,-0.98%,0.951419,NaN,NaN
4,10/27/2025,381.00,379.74,381.00,376.53,1.77M,0.92%,2.027154,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
165,03/07/2025,275.55,284.98,286.15,273.71,4.53M,2.68%,1.056222,287.76500,286.2155
166,03/06/2025,277.22,277.55,280.67,272.28,3.29M,-3.54%,1.282379,286.12875,287.0505
167,03/05/2025,283.45,287.73,288.76,278.46,3.75M,3.05%,4.102395,284.94125,287.2450
168,03/04/2025,273.12,279.22,285.56,267.63,6.81M,0.27%,-1.917690,283.14250,287.3710
169,03/03/2025,294.98,278.46,296.72,276.20,4.89M,-5.07%,10.219333,282.48750,287.7025

In [50]:
df['SMA_8'].isnull().sum()

7

In [51]:
df['SMA_20'].isnull().sum()

19

In [53]:
macd, macdsignal, macdhist = talib.MACD(df['Close'], fastperiod=12, slowperiod=26, signalperiod=9)

In [54]:
macd

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
165    0.308058
166   -0.423767
167   -0.180226
168   -0.666223
169   -1.100025
Length: 170, dtype: float64

In [55]:
macdsignal

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
165    0.688634
166    0.466153
167    0.336878
168    0.136257
169   -0.110999
Length: 170, dtype: float64

In [56]:
macdhist

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
165   -0.380576
166   -0.889921
167   -0.517103
168   -0.802481
169   -0.989026
Length: 170, dtype: float64

In [58]:
df['RSI'] = talib.RSI(df['Close'], timeperiod=7)

In [59]:
df

,Date,Open,Close,High,Low,Vol.,Change %,Returns,SMA_8,SMA_20,RSI
0,10/31/2025,386.02,381.56,393.59,379.22,2.41M,-0.40%,NaN,NaN,NaN,NaN
1,10/30/2025,384.49,383.09,390.11,379.26,3.11M,-1.20%,1.389695,NaN,NaN,NaN
2,10/29/2025,376.88,387.75,390.00,376.28,2.25M,3.12%,-0.627538,NaN,NaN,NaN
3,10/28/2025,379.86,376.01,381.06,373.43,1.55M,-0.98%,0.951419,NaN,NaN,NaN
4,10/27/2025,381.00,379.74,381.00,376.53,1.77M,0.92%,2.027154,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
165,03/07/2025,275.55,284.98,286.15,273.71,4.53M,2.68%,1.056222,287.76500,286.2155,48.259359
166,03/06/2025,277.22,277.55,280.67,272.28,3.29M,-3.54%,1.282379,286.12875,287.0505,40.713222
167,03/05/2025,283.45,287.73,288.76,278.46,3.75M,3.05%,4.102395,284.94125,287.2450,52.568587
168,03/04/2025,273.12,279.22,285.56,267.63,6.81M,0.27%,-1.917690,283.14250,287.3710,43.989606
169,03/03/2025,294.98,278.46,296.72,276.20,4.89M,-5.07%,10.219333,282.48750,287.7025,43.254131

In [60]:
df.dropna(axis=0)

,Date,Open,Close,High,Low,Vol.,Change %,Returns,SMA_8,SMA_20,RSI
19,10/06/2025,380.00,380.02,385.67,377.56,1.85M,1.76%,3.404174,375.67125,376.1425,55.862998
20,10/03/2025,377.80,373.46,378.04,371.61,1.37M,-0.88%,0.063566,374.63875,375.7375,46.853890
21,10/02/2025,376.07,376.76,381.58,370.80,1.78M,0.78%,1.200183,374.94000,375.4210,51.449162
22,10/01/2025,369.66,373.84,378.03,369.09,1.59M,-0.11%,-0.307443,374.74875,374.7255,47.233145
23,09/30/2025,366.45,374.25,374.99,366.45,1.81M,1.93%,-0.715273,375.39500,374.6375,47.932088
...,...,...,...,...,...,...,...,...,...,...,...
165,03/07/2025,275.55,284.98,286.15,273.71,4.53M,2.68%,1.056222,287.76500,286.2155,48.259359
166,03/06/2025,277.22,277.55,280.67,272.28,3.29M,-3.54%,1.282379,286.12875,287.0505,40.713222
167,03/05/2025,283.45,287.73,288.76,278.46,3.75M,3.05%,4.102395,284.94125,287.2450,52.568587
168,03/04/2025,273.12,279.22,285.56,267.63,6.81M,0.27%,-1.917690,283.14250,287.3710,43.989606
169,03/03/2025,294.98,278.46,296.72,276.20,4.89M,-5.07%,10.219333,282.48750,287.7025,43.254131

In [61]:
#define a function for analysis
trades = { } #dictionary

def bull_analysis(gap_up, num_days):
    total_count = sum(df['Returns'] >= gap_up)
    print(total_count)
    
    #initialization
    dt = ""
    price = 0
    count = 0
    flag = 0
    high = 0
    
    for row in df.index: #for loop on each row (row by row)
        if flag == 0:
            if df['Returns'][row] >= gap_up:
                flag = 1
                count = count + 1
                dt = df['Date'][row]
                price = df['Open'][row]
                
        elif flag == 1: # it means, we have caught a gap up, now check number of days
            
            count = count + 1
            if high == 0:
                high = df['High'][row]
            elif df['High'][row] > high:
                high = df['High'][row]
                
        if count == num_days:#'nth' trading session
            #print(num_days)
            
            returns_in_per = round((high - price) / price * 100,2)
            dt2 = df['Date'][row]
            #print(f' Date1 : {dt}, Price 1: {price}, Date2 : {dt2}, Price2: {high}, Returns: {returns_in_per}')
            trades[dt] = [dt, price, dt2, high, returns_in_per] #insert entire trade / analysis into dictionary
            
            #reset
            high = 0
            price = 0
            count = 0
            dt = ""
            flag = 0

In [76]:
bull_analysis(df,0.85, 10)

‚úÖ Total gap-up trades found: 15
üìà Average Return: 2.86%
üîù Max Return: 10.70%
üîª Min Return: 0.33%

    Start_Date  Start_Price    End_Date  Highest_Price  Return_%
0   10/30/2025       384.49  10/17/2025         390.11      1.46
1   10/16/2025       385.89  10/03/2025         387.62      0.45
2   10/02/2025       376.07  09/19/2025         382.92      1.82
3   09/17/2025       370.59  09/04/2025         378.98      2.26
4   09/03/2025       345.78  08/20/2025         357.15      3.29
5   08/19/2025       352.72  08/06/2025         365.20      3.54
6   08/05/2025       360.94  07/23/2025         399.56     10.70
7   07/21/2025       379.70  07/08/2025         384.51      1.27
8   07/07/2025       362.22  06/23/2025         363.42      0.33
9   06/20/2025       335.66  06/06/2025         339.70      1.20
10  05/30/2025       322.05  05/16/2025         330.79      2.71
11  05/14/2025       330.63  05/01/2025         333.98      1.01
12  04/29/2025       287.97  04/15/2025         293.54      1.93
13  04/14/2025       282.82  04/01/2025         286.61      1.34
14  03/28/2025       278.26  03/17/2025         304.94      9.59

In [75]:
import pandas as pd

def bull_analysis(df, gap_up=0.25, num_days=30):
    """
    Analyze 'gap-up' events in price data.

    Parameters
    ----------
    df : pd.DataFrame
        DataFrame with columns: 'Date', 'Open', 'High', 'Close', 'Returns'
    gap_up : float
        Minimum % return to define a 'gap-up' day (e.g., 0.35 = 0.35%)
    num_days : int
        Number of days to track performance after a gap-up

    Returns
    -------
    trades_df : pd.DataFrame
        Table of each trade with start date, end date, prices, and returns
    """

    trades = []  # list to hold results
    flag = False
    counter = 0
    start_date = None
    start_price = 0
    highest_price = 0

    for i in range(len(df)):
        if not flag:  # look for a gap-up trigger
            if df.loc[i, 'Returns'] >= gap_up:
                flag = True
                counter = 1
                start_date = df.loc[i, 'Date']
                start_price = df.loc[i, 'Open']
                highest_price = df.loc[i, 'High']
        else:
            counter += 1
            # update the high price within the observation window
            if df.loc[i, 'High'] > highest_price:
                highest_price = df.loc[i, 'High']

            if counter == num_days:
                end_date = df.loc[i, 'Date']
                returns_pct = round((highest_price - start_price) / start_price * 100, 2)
                trades.append({
                    'Start_Date': start_date,
                    'Start_Price': start_price,
                    'End_Date': end_date,
                    'Highest_Price': highest_price,
                    'Return_%': returns_pct
                })
                # reset for next potential trade
                flag = False
                counter = 0
                start_date = None
                start_price = 0
                highest_price = 0

    # convert to DataFrame
    trades_df = pd.DataFrame(trades)

    if trades_df.empty:
        print("‚ö†Ô∏è No gap-up events found above threshold.")
        return trades_df

    # summary statistics
    avg_return = trades_df['Return_%'].mean()
    max_return = trades_df['Return_%'].max()
    min_return = trades_df['Return_%'].min()

    print(f"‚úÖ Total gap-up trades found: {len(trades_df)}")
    print(f"üìà Average Return: {avg_return:.2f}%")
    print(f"üîù Max Return: {max_return:.2f}%")
    print(f"üîª Min Return: {min_return:.2f}%")

    return trades_df

In [70]:
trades

{'10/30/2025': ['10/30/2025', 384.49, '09/19/2025', 390.0, 1.43],
 '09/17/2025': ['09/17/2025', 370.59, '08/06/2025', 378.98, 2.26],
 '08/05/2025': ['08/05/2025', 360.94, '06/24/2025', 399.56, 10.7],
 '06/20/2025': ['06/20/2025', 335.66, '05/08/2025', 339.7, 1.2],
 '05/01/2025': ['05/01/2025', 302.0, '03/20/2025', 304.94, 0.97]}